.container {
  display: flex;
  flex-direction: column;
}

.block-post {
  padding: 1.25rem; /* Équivalent à 20px */
  margin: 0.625rem; /* Équivalent à 10px */
  border: 1px solid #e9ecef;
}

.bloc-create {
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.last-post-commented {
  display: flex;
  justify-content: space-between;
}

.last-commented {
  width: 30%;
}
.last-post {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.container-create {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer les éléments horizontalement */
  justify-content: center; /* Centrer les éléments verticalement */
  height: auto;
}

.container-img {
  display: flex;
  align-items: center; /* Centrer verticalement les éléments à l'intérieur */
  gap: 10px; /* Espace entre les éléments */
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Pour rendre l'image circulaire */
  margin: 0.5em;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
}
.delete-edit {
  color: gray;
  margin-bottom: 5%;
  text-align: center;
}
.border-top-bottom {
  border-top: 1px solid #80808042;
  border-bottom: 1px solid #80808042;
  padding: 10px;
  color: gray;
}
.border-rounded-card {
  border: 1px solid #80808042;
  border-radius: 10px;
  padding: 10px;
}
.col-border {
  border-right: 1px solid #80808042;
}
.no-underline {
  text-decoration: none;
  color: inherit;
}
.img {
  display: block;
  width: 60% !important;
}
