.post-view-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 20px;
}
.post-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.post-image-container {
  max-height: 300px;
  overflow: hidden;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-content {
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  margin: 0 40px 0 40px !important;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 0 0 3px #ddd;
}
.comment-row {
  padding: 10px;
  color: gray;
}

.comment-container {
  background-color: #f7f7f7;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}
.actionComment {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.edit-delt {
  cursor: pointer;
}
